
<!DOCTYPE html>

<html>

<head>
	<script type="text/javascript" src="/javascripts/grading.js"></script>
</head>


  <body>

	<div class = "Content">
		<div id = "Drules_content">
			<div id = 'Dheading'>
				Divisible by:
				<p id = 'Dheading2'>
				2 &nbsp;3 &nbsp;4
				</p> 
			</div>
			 <form id = "Rules" name = "Questions">
		  		31,576
		  		<input type="checkbox" onClick = "Mark('A101')"  size="10" name="A1O1">
		  		<input type="checkbox" onClick = "Mark('A102')"   size="10" name="A1O2">
		  		<input type="checkbox" onClick = "Mark('A103')"   size="10" name="A1O3">
		  		<br>
		  		2,052
		  		<input type="checkbox" onClick = "Mark('A201')"   size="10" name="A2O1">
		  		<input type="checkbox" onClick = "Mark('A202')" size="10" name="A2O2">
		  		<input type="checkbox" onClick = "Mark('A203')" size="10" name="A2O3">
		  		<br>
		  		605
		  		<input type="checkbox" onClick = "Mark('A301')"  size="10" name="A3O1">
		  		<input type="checkbox" onClick = "Mark('A302')" size="10" name="A3O2">
		  		<input type="checkbox" onClick = "Mark('A303')" size="10" name="A3O3">
		  		<br>
		  		615
		  		<input type="checkbox" onClick = "Mark('A401')" size="10" name="A4O1">
		  		<input type="checkbox" onClick = "Mark('A402')" size="10" name="A4O2">
		  		<input type="checkbox" onClick = "Mark('A403')" size="10" name="A4O3">
		  		<br>
		  		1,001
		  		<input type="checkbox" onClick = "Mark('A501')" size="10" name="A5O1">
		  		<input type="checkbox" onClick = "Mark('A502')" size="10" name="A5O2">
		  		<input type="checkbox" onClick = "Mark('A503')" size="10" name="A5O3">
		  		<br>	
		  		510
		  		<input type="checkbox" onClick = "Mark('A601')" size="10" name="A6O1">
		  		<input type="checkbox" onClick = "Mark('A602')" size="10" name="A6O2">
		  		<input type="checkbox" onClick = "Mark('A603')" size="10" name="A6O3">
		  		<br>
		  		67,120
		  		<input type="checkbox" onClick = "Mark('A701')" size="10" name="A7O1">
		  		<input type="checkbox" onClick = "Mark('A702')" size="10" name="A7O2">
		  		<input type="checkbox" onClick = "Mark('A703')" size="10" name="A7O3">
		  		<br>
		  		27,411
		  		<input type="checkbox" onClick = "Mark('A801')" size="10" name="A8O1">
		  		<input type="checkbox" onClick = "Mark('A802')" size="10" name="A8O2">
		  		<input type="checkbox" onClick="Mark('A803')" size="10" name="A8O3">
		  		<br>
			</form>
		</div>
	</div>
 </body>

<script type="text/javascript">
	var guesses = [];
	document.getElementById("Rules").reset()

	function sendAnswers(){
		processAnswers(	DRulesQ2Ans,
			guesses, 'checkbox')
		setValues({{{id}}}, {{{status}}});
		document.forms["StatusSubmit"].submit();
	}

	function Mark(id){
		guesses.push(id); 
	}
	if ({{{show}}}){
		DisplaySubmissionDetails({{{numberC}}}, [{{{missedQ}}}], {{{status}}})
	}
</script>


</body>

</html>
