
<!DOCTYPE html>

<html>

<head>
  <script type="text/javascript" src="/javascripts/grading.js"></script>
</head>
  <body>
	<div class = "Content">
		<form id = "questionsSkinny" name = "Questions">
		What is 3*a<sup>5</sup><sup>-2</sup>?
	 	<select name="Submission1">
    		<option value="Y1">(3* a^5)&frasl;(b^-2)</option>
    		<option value="Y2">(3* a^5)&frasl;(b^2)</option>
    		<option value="N1">(3* a^5)*(b^2)</option>
    		<option value="N2">(-3* a^-5)&frasl;(b^-2)</option>
  		</select>
  		<br>
  		What is (x<sup>5</sup>)(x<sup>7</sup>)(x<sup>12</sup>)(x<sup>4</sup>)?
	 	<select name="Submission2">
    		<option value="Y1">x^28</option>
    		<option value="Y2">x^12</option>
    		<option value="N1">x^35</option>
    		<option value="N2">x</option>
  		</select>
  		<br>
  		What is (p<sup>4</sup>)<sup>6</sup>
  		<select name="Submission3">
    		<option value="Y1">z^341</option>
    		<option value="Y2">z^-64</option>
    		<option value="N1">z^87</option>
    		<option value="N2">z^64</option>
  		</select>
  		<br>
  		What is (x<sup>2</sup>-4*x)<sup>0</sup>
  		<select name="Submission4">
    		<option value="Y1">x^2</option>
    		<option value="Y2">x^2- 4*x </option>
    		<option value="N1">1</option>
    		<option value="N2">0</option>
  		</select>
  		<br>
  		What is 95,020,000,000 in Scientific Notation?
  		<select name="Submission5">
    		<option value="Y1">9.502  * 10 <sup>10</sup></option>
    		<option value="Y2">9.502  * 10 <sup>9</sup></option>
    		<option value="N1">9.502  * 10 <sup>-10</sup></option>
    		<option value="N2">9.502  * 10 <sup>-9</sup></option>
  		</select>
  		<br>
  		What is 0.00007676 in Scientific Notation?
  		 <select name="Submission6">
    		<option value="Y1"> 7.676 * 10 ^ -5</option>
    		<option value="Y2">7.676 * 10 ^ -4</option>
    		<option value="N1">7.676 * 10 ^ 5</option>
    		<option value="N2">7.676 * 10 ^ 4</option>
  		</select>
  		<br>
  		What is 8.88 * 10 <sup>8</sup>  in standard form?
   		 <select name="Submission7">
    		<option value="Y1"> 0.0000000888</option>
    		<option value="Y2">0.00000888</option>
    		<option value="N1">888,000,000</option>
    		<option value="N2">88,800,000,000</option>
    	</select>
    	<br>
    	What is 7.707 * 10 <sup>-4</sup>  in standard form?
   		 <select name="Submission8">
    		<option value="Y1">0.07707 </option>
    		<option value="Y2">0.0007707</option>
    		<option value="N1">7.7070000</option>
    		<option value="N2">77070000</option>
    	</select>
    	<br>
    	What is 5.7003 * 10 <sup>-7</sup>  in standard form?  
   		 <select name="Submission9">
    		<option value="A">   0.00057003 </option>
    		<option value="B">  0.00000057003</option>
    		<option value="C"> 57,003,000 </option>
    		<option value="D">570,030</option>
    	</select>
      <br>
    	What is 5.7003 * 10 <sup>7</sup>  in standard form?  
       <select name="Submission10">
        <option value="A">   0.00057003 </option>
        <option value="B">  0.00000057003</option>
        <option value="C"> 57,003,000 </option>
        <option value="D">570,030</option>
      </select>
    <input id= "btn" type="button" value="Submit" onClick="sendAnswers()">
		</form>
	</div>

<script type="text/javascript">
  function sendAnswers(){
    processAnswers( ExponentQ4Ans,
      [document.Questions.Submission1.value,
      document.Questions.Submission2.value,
      document.Questions.Submission3.value,
      document.Questions.Submission4.value,
      document.Questions.Submission5.value,
      document.Questions.Submission6.value,
      document.Questions.Submission7.value,
      document.Questions.Submission8.value,
      document.Questions.Submission9.value,
      document.Questions.Submission10.value
      ])
    setValues({{{id}}}, {{{status}}});
    document.forms["StatusSubmit"].submit();
  }
  if ({{{show}}}){
    DisplaySubmissionDetails({{{numberC}}}, {{{missedQ}}})
  }
</script>

</body>

</html>
