
<!DOCTYPE html>

<html>

<head>
	<script type="text/javascript" src="/javascripts/grading.js"></script>
</head>


  <body>
  	<div class = "Content">
	  	<p class = "studyHelp">
	  		GCF is used for reducing fractions. 
	  		<br><br>
	  		LCM is used for combining fractions.
	  		<br><br>
	  		GCF – Greatest Common Factor
			Biggest number that goes into numbers.
			Used to reduce fractions.
			<br><br>
			LCM – Least Common Multiple
			Smallest number that numbers go into.
			Used to combine fractions. 
	  	</p>
		<form name = "FractionStudy">
		 <textarea name = "FractionStudy" id = "FractionStudy" class = "FractionStudy" >
		 </textarea>
		</form>
	</div>

 </body>

<script type="text/javascript">
	function sendAnswers(){
		processAnswers(	FractionStudyAns,
			[document.getElementById("FractionStudy").value], 'copy')
		setValues({{{id}}}, {{{status}}});
		document.forms["StatusSubmit"].submit();
	}
	if ({{{show}}}){
		DisplaySubmissionDetails({{{numberC}}}, [{{{missedQ}}}], {{{status}}})
	}
</script>


</html>
