<!DOCTYPE html>

<html>

<head>
	<script type="text/javascript" src="/javascripts/grading.js"></script>
</head>


<body>
	<div class = "Content">
		<p class = "Pass">
			Happy day! You can get a free pass!
		</p>
	</div>
</body>
<script type="text/javascript">
  function sendAnswers(){
    processAnswers( FreePass,
      [])
		setValues({{{id}}}, {{{status}}});
		document.forms["StatusSubmit"].submit();
  }
	if ({{{show}}}){
		DisplaySubmissionDetails({{{numberC}}}, [{{{missedQ}}}])
	}
</script>

</html>
