
<!DOCTYPE html>

<html>
<head>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
	 <link rel = "stylesheet" type = "text/css" href = "/../stylesheets/pageFormat.css" />
</head>
  <body>
	<div class = "profile">
		<p class = "profileName">
			{{{name}}}
		</p>
		<img class = "profilePic" src={{{avatar}}}>
		<p class = "profileDescription">
		{{{description}}}
		</p>
	</div>
	<div>
	</div>

	<div class = "Content">
		<div class = ProgressLayout>
			<div class = 'ProgressRow'>
				<div class = 'ProgressTitle'>
				<u>Percents</u>
				</div>
				<div class = 'ProgressBlock' id = '1'>
				1
				</div>
				<div class = 'ProgressBlock' id = '2'>
				2
				</div>
				<div class = 'ProgressBlock' id = '3'>
				3
				</div>
				<div class = 'ProgressBlock' id = '4'>
				4
				</div>
				<div class = 'ProgressBlock' id = '5'>
				5
				</div>
			</div>
			<div class = 'ProgressRow'>
				<div class = 'ProgressTitle'>
				<u>Properties</u>
				</div>
				<div class = 'ProgressBlock' id = '6'>
				6
				</div>
				<div class = 'ProgressBlock' id = '7'>
				7
				</div>
				<div class = 'ProgressBlock' id = '8'>
				8
				</div>
				<div class = 'ProgressBlock' id = '9'>
				9
				</div>
				<div class = 'ProgressBlock' id = '10'>
				10
				</div>
			</div>
		<!-- 	Free Pass Here -->
			<div class = 'ProgressRow'>
				<div class = 'ProgressTitle'>
				<u>Division Rules</u>
				</div>
				<div class = 'ProgressBlock' id = '12'>
				12
				</div>
				<div class = 'ProgressBlock' id = '13'>
				13
				</div>
				<div class = 'ProgressBlock' id = '14'>
				14
				</div>
			</div>
			<div class = 'ProgressRow'>
				<div class = 'ProgressTitle'>
				<u>PrimeNumber</u>
				</div>
				<div class = 'ProgressBlock' id = '15'>
				15
				</div>
				<div class = 'ProgressBlock' id = '16'>
				16
				</div>
				<div class = 'ProgressBlock' id = '17'>
				17
				</div>
				<div class = 'ProgressBlock' id = '18'>
				18
				</div>
				<div class = 'ProgressBlock' id = '19'>
				19
				</div>
			</div>
			<div class = 'ProgressRow'>
				<div class = 'ProgressTitle'>
				<u>Exponents</u>
				</div>
				<div class = 'ProgressBlock' id = '20'>
				20
				</div>
				<div class = 'ProgressBlock' id = '21'>
				21
				</div>
				<div class = 'ProgressBlock' id = '22'>
				22
				</div>
				<div class = 'ProgressBlock' id = '24'>
				24
				</div>
				<div class = 'ProgressBlock' id = '25'>
				25
				</div>
			</div>
			<div class = 'ProgressRow'>
				<div class = 'ProgressTitle'>
				<u>Fractions</u>
				</div>
				<div class = 'ProgressBlock' id = '26'>
				26
				</div>
				<div class = 'ProgressBlock' id = '27'>
				27
				</div>
				<div class = 'ProgressBlock' id = '28'>
				28
				</div>
				<div class = 'ProgressBlock' id = '29'>
				29
				</div>
				<div class = 'ProgressBlock' id = '30'>
				30
				</div>
				<div class = 'ProgressBlock' id = '31'>
				31
				</div>
			</div>
		<!-- 	Free Pass Here -->
			<div class = 'ProgressRow'>
				<div class = 'ProgressTitle'>
				<u>Square Numbers</u>
				</div>
				<div class = 'ProgressBlock' id = '33'>
				33
				</div>
				<div class = 'ProgressBlock' id = '34'>
				34
				</div>
				<div class = 'ProgressBlock' id = '35'>
				35
				</div>
				<div class = 'ProgressBlock' id = '36'>
				36
				</div>
				<div class = 'ProgressBlock' id = '37'>
				37
				</div>
			</div>
			<div class = 'ProgressRow'>
				<div class = 'ProgressTitle'>
				<u>Pythagorean Theorem</u>
				</div>
				<div class = 'ProgressBlock' id = '38'>
				38
				</div>
				<div class = 'ProgressBlock' id = '39'>
				39
				</div>
				<div class = 'ProgressBlock' id = '40'>
				40
				</div>
			</div>
			<div class = 'ProgressRow'>
				<div class = 'ProgressTitle'>
				<u>Angles</u>
				</div>
				<div class = 'ProgressBlock' id = '41'>
				41
				</div>
				<div class = 'ProgressBlock' id = '42'>
				42
				</div>
				<div class = 'ProgressBlock' id = '43'>
				43
				</div>
				<div class = 'ProgressBlock' id = '44'>
				44
				</div>
				<div class = 'ProgressBlock' id = '45'>
				45
				</div>
			</div>
		<!-- 	Free Pass Here -->
			<div class = 'ProgressRow'>
				<div class = 'ProgressTitle'>
				<u>Probability</u>
				</div>
				<div class = 'ProgressBlock' id = '47'>
				47
				</div>
				<div class = 'ProgressBlock' id = '48'>
				48
				</div>
				<div class = 'ProgressBlock' id = '49'>
				49
				</div>
				<div class = 'ProgressBlock' id = '50'>
				50
				</div>
				<div class = 'ProgressBlock' id = '51'>
				51
				</div>
			</div>
			<div class = 'ProgressRow'>
				<div class = 'ProgressTitle'>
				<u>Sequences</u>
				</div>
				<div class = 'ProgressBlock' id = '52'>
				52
				</div>
				<div class = 'ProgressBlock' id = '53'>
				53
				</div>
				<div class = 'ProgressBlock' id = '54'>
				54
				</div>
			</div>
			<form action = '/home/submit' name = "HomeSubmit" method = 'post'>
			    <input type="text" id="HiddenFormHome1" name="id" placeholder=" Name" value = 10>
			    <input type="text" id="HiddenFormHome2" name="status" placeholder=" Name" value=10>
				<input id = 'HomeSubmitButton' type="button" value="Submit" onClick="sendAnswers()">
			</form>
		</div>
  	</div>
 </body>
 	<script type="text/javascript" src="/javascripts/grading.js"></script>

<script type="text/javascript">
   ProgressFill({{{status}}})
 function ProgressFill(progressNum){
	for (p=progressNum; p > 0; p--){
		if (p == 7|| p == 26 || p == 35 || p > 41){
			console.log('Free Pass')
			continue
		} 
		var oldcolor = "#004d99";
		document.getElementById(p).style.backgroundColor = oldcolor;
		document.getElementById(p).style.color = 'white';
	}
}

  function sendAnswers(){
  	console.log(document.getElementById('HiddenFormHome2').value)
	document.getElementById('HiddenFormHome1').value = {{{id}}};
	document.getElementById('HiddenFormHome2').value = {{{status}}};
	console.log(document.getElementById('HiddenFormHome2').value)
	document.forms["HomeSubmit"].submit()
  }

</script>
</html>
