
<!DOCTYPE html>

<html>

<head>
	<script type="text/javascript" src="/javascripts/grading.js"></script>
</head>


  <body>
	<div class = "Content">
		<div class = SquenceHelp>
		Percent means "out of 100." Just move the decimal twice.
		<div class = 'line'>
		</div>
			75%  =  0.75  =  75&frasl;100 = 3&frasl;4
			75% is three quarters of a $1.00.
		<div class = 'line'>
		</div>
		 Percent Proportion:
		<br>
		(Part "is")&frasl;(whole "of") = %&frasl;100
		<br>
		Percent Equation:
		<br>
		Part 'is' = % * whole 'of'
		<br>
		'of' means MULTIPLY
		<br>
		'is' means EQUAL
		<br>
		75% of 4 is 3
		<br>
		</div>
	</div>
 </body>
<script type="text/javascript">
  	function sendAnswers(){
	 	setValues({{{id}}}, {{{status}}});
	    processAnswers( PercentStudyAns,
	      [])
		document.forms["StatusSubmit"].submit();
  	}
	if ({{{show}}}){
		DisplaySubmissionDetails({{{numberC}}}, [{{{missedQ}}}], {{{status}}})
		document.getElementsId("SubmitForProcessing").style.opacity = 0;
	}
</script>

</body>

</html>
