
<!DOCTYPE html>

<html>

<head>
	<script type="text/javascript" src="/javascripts/grading.js"></script>
</head>

  <body>
	<div class = "Content">
		<form id = "questions" name = "Questions">
		1. What number is 60% of 40?
		 	<select name="Submission1">
	    		<option value="A"> 100 becasue 60 + 40 = 100 </option>
	    		<option value="B"> 100 because .60 * 40 = 100  </option>
	    		<option value="C"> 24 because 60 - 40 = 24 </option>
	    		<option value="D"> 24 because .60 * 40 = 24 </option>
	  		</select>
	  		<br><br>
	  	2. 35 is what percent of 140?
		 	<select name="Submission2">
	    		<option value="A"> 25% because 35/140 = 0.25 </option>
	    		<option value="B"> 25% because 140/35 = 0.25  </option>
	    		<option value="C"> 35% because 35/140 = 0.35 </option>
	    		<option value="D"> 35% because 140/35 = 0.35 </option>
	  		</select>
	  		<br><br>
	  	3. 87 is 3% of what number?
		 	<select name="Submission3">
	    		<option value="A"> 2.61 because 87*0.03 = 2.61 </option>
	    		<option value="B"> 2.61 because 87/0.03 = 2.61 </option>
	    		<option value="C"> 2900 because 87*0.03 = 2900 </option>
	    		<option value="D"> 2900 because 87/0.03 = 2900</option>
	  		</select>
		<input id= "btn" type="button" value="Submit" onClick="sendAnswers()">
	 </form>
  </div>
 </body>

<script type="text/javascript">
  function sendAnswers(){
    processAnswers( PercentQ2Ans,
      [document.Questions.Submission1.value,
      document.Questions.Submission2.value,
      document.Questions.Submission3.value
      ])
		setValues({{{id}}}, {{{status}}});
		document.forms["StatusSubmit"].submit();
  }
	if ({{{show}}}){
		DisplaySubmissionDetails({{{numberC}}}, {{{missedQ}}})
	}
</script>
</body>

</html>
