
<!DOCTYPE html>

<html>

<head>
	<script type="text/javascript" src="/javascripts/grading.js"></script>
</head>

  <body>
	<p id='AnswerDisplay'>
	</p>
	<div class = "WhiteBox">
		<div class = SquenceHelp>
			<div class = "ProbStudyWords">
			Probability =  want&frasl;total
			<br>
			Odds =  want&frasl;not wanted
			<div class = 'line'>
			</div>
			The possible ways to arrange three obects would be three fractorials.
			<br>
			The exclamation point symbol ! represents factorial.
			<div class = 'line'>
			</div>
			 Percent Proportion:
			<br>
			3! = 3 * 2 * 1 = 6
			<br>
			Example: What is the probability of rolling a four and a five with a pair of dice? 
			(1&frasl;6)*(1&frasl;6) = (1&frasl;36) = 0.03 = 3%
			</div>
		</div>
		<form name = "ProbStudy">
		 <textarea name = "ProbStudy" class = "ProbStudy" id = "ProbStudy">
		 </textarea>
		</form>
	</div>
 </body>

<script type="text/javascript">
  function sendAnswers(){
    processAnswers( ProbStudyAns,
       [document.getElementById("ProbStudy").value], 'copy')
		setValues({{{id}}}, {{{status}}});
		document.forms["StatusSubmit"].submit();
  }
	if ({{{show}}}){
		DisplaySubmissionDetails({{{numberC}}}, [{{{missedQ}}}], {{{status}}})
	}
</script>
</body>

</html>
