
<!DOCTYPE html>

<html>

<head>
  <script type="text/javascript" src="/javascripts/grading.js"></script>
</head>

  <body>
	<div class = "Content">
		 <img id = "PropsStudyPic" src="http://www.mathatube.com/sitebuilder/images/addition_properties-777-600x339.jpg">
	</div>

 </body>
<script type="text/javascript">
  function sendAnswers(){
    processAnswers( PropsStudyAns,
      [])
    setValues({{{id}}}, {{{status}}});
    document.forms["StatusSubmit"].submit();
  }
  if ({{{show}}}){
    DisplaySubmissionDetails({{{numberC}}}, {{{missedQ}}})
  }
</script>
</body>

</html>
