
<!DOCTYPE html>

<html>

<head>
	<script type="text/javascript" src="/javascripts/grading.js"></script>
</head>

  <body>
	<div class = "Content">
	<table class = "ScoreTable">
		  <tr>
		    <th id=ScoreHeadings >Date</th>
		    <th id=ScoreHeadings >Name</th> 
		    <th id=ScoreHeadings >Score</th>
		    <th id=ScoreHeadings >Current Status</th>
		  </tr>
		  <tr>
		    <td id="0">Jill</td>
		    <td id="22">Smith</td>
		    <td id="44">50</td>
		    <td id="66">50</td>
		  </tr>
		  <tr>
		    <td id="1">Jill</td>
		    <td id="23">Smith</td>
		    <td id="45">50</td>
		    <td id="67">50</td>
		  </tr>
		  <tr>
		    <td id="2">Eve</td>
		    <td id="24" >Jackson</td>
		    <td id="46" >94</td>
		    <td id="68">50</td>
		  </tr>
		  <tr>
		    <td id="3">John</td>
		    <td id="25">Doe</td>
		    <td id="47">80</td>
		    <td id="69">50</td>
		  </tr>
		  <tr>
		    <td id="4">Jill</td>
		    <td id="26">Smith</td>
		    <td id="48">50</td>
		    <td id="70">50</td>
		  </tr>
		  <tr>
		    <td id="5">Eve</td>
		    <td id="27" >Jackson</td>
		    <td id="49" >94</td>
		    <td id="71">50</td>
		  </tr>
		  <tr>
		    <td id="6">John</td>
		    <td id="28">Doe</td>
		    <td id="50">80</td>
		    <td id="72">50</td>
		  </tr>
		  <tr>
		    <td id="7">Jill</td>
		    <td id="29">Smith</td>
		    <td id="51">50</td>
		    <td id="73">50</td>
		  </tr>
		  <tr>
		    <td id="8">Eve</td>
		    <td id="30" >Jackson</td>
		    <td id="52" >94</td>
		    <td id="74">50</td>
		  </tr>
		  <tr>
		    <td id="9">John</td>
		    <td id="31">Doe</td>
		    <td id="53">80</td>
		    <td id="75">50</td>
		  </tr>
		  <tr>
		    <td id="10">Jill</td>
		    <td id="32">Smith</td>
		    <td id="54">50</td>
		    <td id="76">50</td>
		  </tr>
		  <tr>
		    <td id="11">Eve</td>
		    <td id="33" >Jackson</td>
		    <td id="55" >94</td>
		    <td id="77">50</td>
		  </tr>
		  <tr>
		    <td id="12">John</td>
		    <td id="34">Doe</td>
		    <td id="56">80</td>
		    <td id="78">50</td>
		  </tr>
		  <tr>
		    <td id="13">Jill</td>
		    <td id="35">Smith</td>
		    <td id="57">50</td>
		    <td id="79">50</td>
		  </tr>
		  <tr>
		    <td id="14">Eve</td>
		    <td id="36" >Jackson</td>
		    <td id="58" >94</td>
		    <td id="80">50</td>
		  </tr>
		  <tr>
		    <td id="15">John</td>
		    <td id="37">Doe</td>
		    <td id="59">80</td>
		    <td id="81">50</td>
		  </tr>
		  <tr>
		    <td id="16">Jill</td>
		    <td id="38">Smith</td>
		    <td id="60">50</td>
		    <td id="82">50</td>
		  </tr>
		  <tr>
		    <td id="17">Eve</td>
		    <td id="39" >Jackson</td>
		    <td id="61" >94</td>
		    <td id="83">50</td>
		  </tr>
		  <tr>
		    <td id="18">John</td>
		    <td id="40">Doe</td>
		    <td id="62">80</td>
		    <td id="84">50</td>
		  </tr>
		  <tr>
		    <td id="19">Jill</td>
		    <td id="41">Smith</td>
		    <td id="63">50</td>
		    <td id="85">50</td>
		  </tr>
		  <tr>
		    <td id="20">Jill</td>
		    <td id="42">Smith</td>
		    <td id="64">50</td>
		    <td id="86">50</td>
		  </tr>
		  <tr>
		    <td id="21"></td>
		    <td id="43"></td>
		    <td id="65"></td>
		    <td id="87"></td>
		  </tr>
		</table>
  </div>
 </body>

<script type="text/javascript">
document.getElementById('SubmitForProcessing').value = 'Submit';
  var names ={
    '1':'Euclid',
    '2':'Newton',
    '3':'Archimedes',
    '4':'Gauss',
    '5':'Descartes',
    '6':'Fermat',
    '7':'Euler',
    '8':'Einstein',
    '9':'Leibniz',
    '10':'Hilbert',
    '11':'Pascal',
    '12':'Turing',
    '13':'Ramanujan',
    '14':'Riemann',
    '15':'Neumann',
    '16':'Ptolemy',
    '17':'Aryabhata',
    '18':'Cantor',
    '19':'Germain',
    '20':'Ada',
    '21':'Noether',
    '22':'Open',
  };
const people = [];
const ids= [{{{ids}}}];
const scoresString = '{{{scores}}}';
const scores = scoresString.split(',');
const dateString = '{{{dates}}}';
const dates = dateString.split(',');
const statusArray = '{{{statusArray}}}';
const statuses = statusArray.split(',');
const statusIds = '{{{statusIds}}}';
const idsStatus = statusIds.split(',');
const orderedStatus = [];

console.log(idsStatus)
console.log(statuses, 'SSS')
console.log(ids)
  for (i=0;i<ids.length;i++){
  	var id = ids[i];
    people[i] = names[(id).toString()]
  }

  for (m=0;m<idsStatus.length;m++){
  	correctOrderId = ids[m];
  	statusfromCorrectId = statuses[statusIds.indexOf((Number(correctOrderId)).toString())];
  	console.log(correctOrderId)
  	console.log(statusfromCorrectId)
  		console.log('ADSD',statusIds.indexOf((Number(correctOrderId)).toString()))
  	if (statusfromCorrectId != undefined){
  		orderedStatus[m] = statusfromCorrectId;
  	}else{
  		orderedStatus[m] = '0';
  	}
  }
  console.log(orderedStatus)
  for (i=0;i<ids.length;i++){
  	document.getElementById(i).innerHTML = dates[i];
	document.getElementById(i+22).innerHTML = people[i];
	document.getElementById(i+44).innerHTML = scores[i];
	document.getElementById(i+66).innerHTML = orderedStatus[i];
  }


//var people = '{{{people}}}'.split(',');
// var scores = '{{{scores}}}'.split(',');

    // var id = i+ 1;
    // people[i] = names[(id).toString()]


// for (i=0;i<people.length -1;i++){
// 	document.getElementById(i).innerHTML = people[i];
// 	console.log(i+20)
// 	document.getElementById(i+20).innerHTML = scores[i];
// }


</script>
</body>

</html>
