
<!DOCTYPE html>

<html>

<head>
	<script type="text/javascript" src="/javascripts/grading.js"></script>
</head>

  <body>
	<div class = "Content">
	<table class = "ScoreTable">
		  <tr>
		    <th id=ScoreHeadings >Date</th>
		    <th id=ScoreHeadings >Name</th> 
		    <th id=ScoreHeadings >Score</th>
		  </tr>
		  <tr>
		    <td id="0">Jill</td>
		    <td id="20">Smith</td>
		    <td id="40">50</td>
		  </tr>
		  <tr>
		    <td id="1">Jill</td>
		    <td id="21">Smith</td>
		    <td id="41">50</td>
		  </tr>
		  <tr>
		    <td id="2">Eve</td>
		    <td id="22" >Jackson</td>
		    <td id="42" >94</td>
		  </tr>
		  <tr>
		    <td id="3">John</td>
		    <td id="23">Doe</td>
		    <td id="43">80</td>
		  </tr>
		  <tr>
		    <td id="4">Jill</td>
		    <td id="24">Smith</td>
		    <td id="44">50</td>
		  </tr>
		  <tr>
		    <td id="5">Eve</td>
		    <td id="25" >Jackson</td>
		    <td id="45" >94</td>
		  </tr>
		  <tr>
		    <td id="6">John</td>
		    <td id="26">Doe</td>
		    <td id="46">80</td>
		  </tr>
		  <tr>
		    <td id="7">Jill</td>
		    <td id="27">Smith</td>
		    <td id="47">50</td>
		  </tr>
		  <tr>
		    <td id="8">Eve</td>
		    <td id="28" >Jackson</td>
		    <td id="48" >94</td>
		  </tr>
		  <tr>
		    <td id="9">John</td>
		    <td id="29">Doe</td>
		    <td id="49">80</td>
		  </tr>
		  <tr>
		    <td id="10">Jill</td>
		    <td id="30">Smith</td>
		    <td id="50">50</td>
		  </tr>
		  <tr>
		    <td id="11">Eve</td>
		    <td id="31" >Jackson</td>
		    <td id="51" >94</td>
		  </tr>
		  <tr>
		    <td id="12">John</td>
		    <td id="32">Doe</td>
		    <td id="52">80</td>
		  </tr>
		  <tr>
		    <td id="13">Jill</td>
		    <td id="33">Smith</td>
		    <td id="53">50</td>
		  </tr>
		  <tr>
		    <td id="14">Eve</td>
		    <td id="34" >Jackson</td>
		    <td id="54" >94</td>
		  </tr>
		  <tr>
		    <td id="15">John</td>
		    <td id="35">Doe</td>
		    <td id="55">80</td>
		  </tr>
		  <tr>
		    <td id="16">Jill</td>
		    <td id="36">Smith</td>
		    <td id="56">50</td>
		  </tr>
		  <tr>
		    <td id="17">Eve</td>
		    <td id="37" >Jackson</td>
		    <td id="57" >94</td>
		  </tr>
		  <tr>
		    <td id="18">John</td>
		    <td id="38">Doe</td>
		    <td id="58">80</td>
		  </tr>
		  <tr>
		    <td id="19">Jill</td>
		    <td id="39">Smith</td>
		    <td id="59">50</td>
		  </tr>
		</table>
  </div>
 </body>

<script type="text/javascript">
document.getElementById('SubmitForProcessing').value = 'Submit';
  var names ={
    '1':'Euclid',
    '2':'Newton',
    '3':'Archimedes',
    '4':'Gauss',
    '5':'Descartes',
    '6':'Fermat',
    '7':'Euler',
    '8':'Einstein',
    '9':'Leibniz',
    '10':'Hilbert',
    '11':'Pascal',
    '12':'Turing',
    '13':'Ramanujan',
    '14':'Riemann',
    '15':'Neumann',
    '16':'Ptolemy',
    '17':'Aryabhata',
    '18':'Cantor',
    '19':'Germain',
    '20':'Ada',
    '21':'Noether'
  };
const people = [];
const ids= [{{{ids}}}];
const scoresString = '{{{scores}}}';
const scores = scoresString.split(',');
const dateString = '{{{dates}}}';
const dates = dateString.split(',');
  for (i=0;i<ids.length;i++){
  	var id = ids[i];
    people[i] = names[(id).toString()]
  }
  for (i=0;i<ids.length;i++){
  	document.getElementById(i).innerHTML = dates[i];
	document.getElementById(i+20).innerHTML = people[i];
	document.getElementById(i+40).innerHTML = scores[i];
  }
  console.log(scores)


//var people = '{{{people}}}'.split(',');
// var scores = '{{{scores}}}'.split(',');

    // var id = i+ 1;
    // people[i] = names[(id).toString()]


// for (i=0;i<people.length -1;i++){
// 	document.getElementById(i).innerHTML = people[i];
// 	console.log(i+20)
// 	document.getElementById(i+20).innerHTML = scores[i];
// }


</script>
</body>

</html>
