<!DOCTYPE html>

<html>
<head>
	<script type="text/javascript" src="/javascripts/grading.js"></script>
</head>
<body>
	<div class = "Content">
		<p id = "OptionsSkinny">
			A. 36
			<br>
			B. 16
			<br>
			C. 64
			<br>
			D. 1
			<br>
			E. 100
			<br>
			F. 144
			<br>
			G. 25
			<br>
			H. 225
			<br>
			I. 9
			<br>
			J. 169
			<br>
			K. 196
			<br>
			L. 4
			<br>
			M. 81
			<br>
			N. 121
			<br>
			O. 49
		</p>
		 <form id = "questionsMatchSqu" name = "Questions">
		 1) 
		 	<select name="Submission1">
	    		<option value="D">D</option>
	  		</select>
	  	2)
	  		<select name="Submission2">
	    		<option value="A">A</option>
	    		<option value="B">B</option>
	    		<option value="C">C</option>
	    		<option value="D">D</option>
	    		<option value="E">E</option>
	    		<option value="F">F</option>
	    		<option value="G">G</option>
	    		<option value="H">H</option>
	    		<option value="I">I</option>
	    		<option value="J">J</option>
	    	    <option value="K">K</option>
	    		<option value="L">L</option>
	    		<option value="M">M</option>
	    		<option value="N">N</option>
	    		<option value="O">O</option>
	  		</select>
	  		<br>
	  	3)

	  		<select name="Submission3">
	    		<option value="A">A</option>
	    		<option value="B">B</option>
	    		<option value="C">C</option>
	    		<option value="D">D</option>
	    		<option value="E">E</option>
	    		<option value="F">F</option>
	    		<option value="G">G</option>
	    		<option value="H">H</option>
	    		<option value="I">I</option>
	    		<option value="J">J</option>
	    	    <option value="K">K</option>
	    		<option value="L">L</option>
	    		<option value="M">M</option>
	    		<option value="N">N</option>
	    		<option value="O">O</option>
	  		</select>
	  	4)
	 	  		<select name="Submission4">
	    		<option value="A">A</option>
	    		<option value="B">B</option>
	    		<option value="C">C</option>
	    		<option value="D">D</option>
	    		<option value="E">E</option>
	    		<option value="F">F</option>
	    		<option value="G">G</option>
	    		<option value="H">H</option>
	    		<option value="I">I</option>
	    		<option value="J">J</option>
	    	    <option value="K">K</option>
	    		<option value="L">L</option>
	    		<option value="M">M</option>
	    		<option value="N">N</option>
	    		<option value="O">O</option>
	  		</select>
	  	  
	  	  <br>
	  	  5)
	 	  	<select name="Submission5">
	    		<option value="A">A</option>
	    		<option value="B">B</option>
	    		<option value="C">C</option>
	    		<option value="D">D</option>
	    		<option value="E">E</option>
	    		<option value="F">F</option>
	    		<option value="G">G</option>
	    		<option value="H">H</option>
	    		<option value="I">I</option>
	    		<option value="J">J</option>
	    	    <option value="K">K</option>
	    		<option value="L">L</option>
	    		<option value="M">M</option>
	    		<option value="N">N</option>
	    		<option value="O">O</option>
	  		</select>

	  	  	6)
	 	  	<select name="Submission6">
	    		<option value="A">A</option>
	    		<option value="B">B</option>
	    		<option value="C">C</option>
	    		<option value="D">D</option>
	    		<option value="E">E</option>
	    		<option value="F">F</option>
	    		<option value="G">G</option>
	    		<option value="H">H</option>
	    		<option value="I">I</option>
	    		<option value="J">J</option>
	    	    <option value="K">K</option>
	    		<option value="L">L</option>
	    		<option value="M">M</option>
	    		<option value="N">N</option>
	    		<option value="O">O</option>
	  		</select>
	  		<br>

	  		7)
	 	  	<select name="Submission7">
	    		<option value="A">A</option>
	    		<option value="B">B</option>
	    		<option value="C">C</option>
	    		<option value="D">D</option>
	    		<option value="E">E</option>
	    		<option value="F">F</option>
	    		<option value="G">G</option>
	    		<option value="H">H</option>
	    		<option value="I">I</option>
	    		<option value="J">J</option>
	    	    <option value="K">K</option>
	    		<option value="L">L</option>
	    		<option value="M">M</option>
	    		<option value="N">N</option>
	    		<option value="O">O</option>
	  		</select>
	  		8)
	 	  	<select name="Submission8">
	    		<option value="A">A</option>
	    		<option value="B">B</option>
	    		<option value="C">C</option>
	    		<option value="D">D</option>
	    		<option value="E">E</option>
	    		<option value="F">F</option>
	    		<option value="G">G</option>
	    		<option value="H">H</option>
	    		<option value="I">I</option>
	    		<option value="J">J</option>
	    	    <option value="K">K</option>
	    		<option value="L">L</option>
	    		<option value="M">M</option>
	    		<option value="N">N</option>
	    		<option value="O">O</option>
	  		</select>
	  		<br>
	  		
	  		9)
	 	  	<select name="Submission9">
	    		<option value="A">A</option>
	    		<option value="B">B</option>
	    		<option value="C">C</option>
	    		<option value="D">D</option>
	    		<option value="E">E</option>
	    		<option value="F">F</option>
	    		<option value="G">G</option>
	    		<option value="H">H</option>
	    		<option value="I">I</option>
	    		<option value="J">J</option>
	    	    <option value="K">K</option>
	    		<option value="L">L</option>
	    		<option value="M">M</option>
	    		<option value="N">N</option>
	    		<option value="O">O</option>
	  		</select>
	  		10)
	 	  	<select name="Submission10">
	    		<option value="A">A</option>
	    		<option value="B">B</option>
	    		<option value="C">C</option>
	    		<option value="D">D</option>
	    		<option value="E">E</option>
	    		<option value="F">F</option>
	    		<option value="G">G</option>
	    		<option value="H">H</option>
	    		<option value="I">I</option>
	    		<option value="J">J</option>
	    	    <option value="K">K</option>
	    		<option value="L">L</option>
	    		<option value="M">M</option>
	    		<option value="N">N</option>
	    		<option value="O">O</option>
	  		</select>
	  		<br>
	  		11)
	 	  	<select name="Submission11">
	    		<option value="A">A</option>
	    		<option value="B">B</option>
	    		<option value="C">C</option>
	    		<option value="D">D</option>
	    		<option value="E">E</option>
	    		<option value="F">F</option>
	    		<option value="G">G</option>
	    		<option value="H">H</option>
	    		<option value="I">I</option>
	    		<option value="J">J</option>
	    	    <option value="K">K</option>
	    		<option value="L">L</option>
	    		<option value="M">M</option>
	    		<option value="N">N</option>
	    		<option value="O">O</option>
	  		</select>
	  		12)
	 	  	<select name="Submission12">
	    		<option value="A">A</option>
	    		<option value="B">B</option>
	    		<option value="C">C</option>
	    		<option value="D">D</option>
	    		<option value="E">E</option>
	    		<option value="F">F</option>
	    		<option value="G">G</option>
	    		<option value="H">H</option>
	    		<option value="I">I</option>
	    		<option value="J">J</option>
	    	    <option value="K">K</option>
	    		<option value="L">L</option>
	    		<option value="M">M</option>
	    		<option value="N">N</option>
	    		<option value="O">O</option>
	  		</select>
	  		<br>
	  		13)
	 	  	<select name="Submission13">
	    		<option value="A">A</option>
	    		<option value="B">B</option>
	    		<option value="C">C</option>
	    		<option value="D">D</option>
	    		<option value="E">E</option>
	    		<option value="F">F</option>
	    		<option value="G">G</option>
	    		<option value="H">H</option>
	    		<option value="I">I</option>
	    		<option value="J">J</option>
	    	    <option value="K">K</option>
	    		<option value="L">L</option>
	    		<option value="M">M</option>
	    		<option value="N">N</option>
	    		<option value="O">O</option>
	  		</select>
	  		14)
	 	  	<select name="Submission14">
	    		<option value="A">A</option>
	    		<option value="B">B</option>
	    		<option value="C">C</option>
	    		<option value="D">D</option>
	    		<option value="E">E</option>
	    		<option value="F">F</option>
	    		<option value="G">G</option>
	    		<option value="H">H</option>
	    		<option value="I">I</option>
	    		<option value="J">J</option>
	    	    <option value="K">K</option>
	    		<option value="L">L</option>
	    		<option value="M">M</option>
	    		<option value="N">N</option>
	    		<option value="O">O</option>
	  		</select>
	  		<br>
	  		15)
	 	  	<select name="Submission15">
	    		<option value="A">A</option>
	    		<option value="B">B</option>
	    		<option value="C">C</option>
	    		<option value="D">D</option>
	    		<option value="E">E</option>
	    		<option value="F">F</option>
	    		<option value="G">G</option>
	    		<option value="H">H</option>
	    		<option value="I">I</option>
	    		<option value="J">J</option>
	    	    <option value="K">K</option>
	    		<option value="L">L</option>
	    		<option value="M">M</option>
	    		<option value="N">N</option>
	    		<option value="O">O</option>
	  		</select>
		</form>
	</div>
<script type="text/javascript">
  function sendAnswers(){
    processAnswers( SquareNumbersMatchAns,
      [document.Questions.Submission1.value,
      document.Questions.Submission2.value,
      document.Questions.Submission3.value,
      document.Questions.Submission4.value,
      document.Questions.Submission5.value,
      document.Questions.Submission6.value,
      document.Questions.Submission7.value,
      document.Questions.Submission8.value,
      document.Questions.Submission9.value,
      document.Questions.Submission10.value,
      document.Questions.Submission11.value,
      document.Questions.Submission12.value,
      document.Questions.Submission13.value,
      document.Questions.Submission14.value,
      document.Questions.Submission15.value,
      ])
		setValues({{{id}}}, {{{status}}});
		document.forms["StatusSubmit"].submit();
  }
	if ({{{show}}}){
		DisplaySubmissionDetails({{{numberC}}}, [{{{missedQ}}}], {{{status}}})
	}
</script>

</body>

</html>
