<!DOCTYPE html>

<html>

<head>
	<script type="text/javascript" src="/javascripts/grading.js"></script>
</head>

<body>
	<div class = 'Content'>
		<p id = "CopySquare">
			A square number has a square root of a whole integer.
		</p>
		<img id = "SquareStudyPic" src="http://stwilliamsblogs.net/6h2016/wp-content/uploads/sites/45/2016/11/Square-roots.png">
		 <form name = "Questions">
		 <textarea name = "Poem" id = "Poem" >
		 </textarea>
		</form>
	</div>
</body>
<script type="text/javascript">
	function sendAnswers(){
		processAnswers(	SquareNumbersCopyAns,
			[document.getElementById("Poem").value], 'copy')
		setValues({{{id}}}, {{{status}}});
		document.forms["StatusSubmit"].submit();
	}
	if ({{{show}}}){
		DisplaySubmissionDetails({{{numberC}}}, [{{{missedQ}}}], {{{status}}})
	}
</script>
</body>

</html>
